@model List<Genero>
<div class="dropdown">
    <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Menu generos
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        @foreach (Genero genero in Model)
        {
            <li>
                <a asp-controller="Home"
               asp-action="Index"
               asp-route-idgenero="@genero.IdGenero"
                   class="dropdown-item">
                    @genero.Nombre
                </a>
            </li>
        }
    </ul>
</div>