@model List<Libro>
@{
    ViewData["Title"] = "Home Page";

}

@if(Model!=null){
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Titulo</th>
                <th scope="col">Imagen</th>
                @*            <th scope="col">Last</th>
            <th scope="col">Handle</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (Libro libro in Model)
            {
                <tr>
                    <th scope="row">@libro.Titulo</th>
                    <td><img src="~/images/@libro.Portada" style="width:150px" /></td>
                    @*                <td>Otto</td>
            <td>@mdo</td>*@
                </tr>
            }
        </tbody>
    </table>
}