@model IEnumerable<SARA_ALVAREZ_LOPEZ_TIENDA.Models.VistaPedidos>

@{
    ViewData["Title"] = "VistaPedidos";
}

<h1>VistaPedidos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Titulo</th>    
        </tr>
        <tr>
            <th>Precio</th>
        </tr>
        <tr>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                 <img style="width:100px" src="@Html.DisplayFor(modelItem => item.Portada)" />
             </td>
        </tr>
}
    </tbody>
</table>
